body {
    margin: 0;
    width: 100%;
    font-family: 'Merriweather', serif;
}

.top-container {
    background: #DAD7CD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A3B18A, #DAD7CD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A3B18A, #DAD7CD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-bottom: 20px;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    
h1 {
    font-family: 'sacramento', serif;
    font-size: 400%;
    margin-bottom: 0;
    margin-top: 50px;
}
h2{
    font-size: 1.87rem;
    margin-top: 0;
    margin-bottom: 0;
}
h3{
    margin-top: 0;
}
p {
    margin-bottom: 0;
    margin-top: 0;
}
.Ebose{
    border-radius: 100%;
    height: 250px;
    position: relative;
}

.middle-container {
    background-color: #A3B18A;
    text-align: center;
    padding-top: 20px;
}
.designer{
    height: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.web-developer{
    padding-top: 0;
}

.data-analyst{
    height: 170px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.dataanalysis{
    padding: 20px;
}

.click{
    padding: 20px;
}
.bottom-container {
    background-color: #DAD7CD;
    text-align: center;
    padding: 20px;
}
.footer-link{
   margin: 20px 10px 10px;
}
.btn {
    background: #588157;
    background-image: -webkit-linear-gradient(top, #588157, #3A5A40);
    background-image: -moz-linear-gradient(top, #588157, #3A5A40);
    background-image: -ms-linear-gradient(top, #588157, #3A5A40);
    background-image: -o-linear-gradient(top, #588157, #3A5A40);
    background-image: linear-gradient(to bottom, #588157, #3A5A40);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  .btn:hover {
    background: #DAD7CD;
    background-image: -webkit-linear-gradient(top, #DAD7CD, #A3B18A);
    background-image: -moz-linear-gradient(top, #DAD7CD, #A3B18A);
    background-image: -ms-linear-gradient(top, #DAD7CD, #A3B18A);
    background-image: -o-linear-gradient(top, #DAD7CD, #A3B18A);
    background-image: linear-gradient(to bottom, #DAD7CD, #A3B18A);
    text-decoration: none;
  }
  a{
      color: #344E41;
      font-family: 'Merriweather', sans-serif;
      margin: 0px 10px;
      text-decoration: none;
  }
  a:hover{
color: #588157;
  }
.copyright{
    color: #344E41;
    font-size: small;
    padding: 20px 0;
}